version: "3.4"

services:
  monicahq:
    build: .
    image: monicahq/monicahq
    depends_on:
      - mysql
    ports:
      - "{{ monica_port }}:80"
    env_file: .env
    volumes:
      - monica_data:/var/www/monica/storage
    restart: always

  mysql:
    image: mysql:5.7
    environment:
      - MYSQL_ROOT_PASSWORD={{ mysql_root_password }}
      - MYSQL_DATABASE={{ monica_db_database }}
      - MYSQL_USER={{ monica_db_username }}
      - MYSQL_PASSWORD={{ monica_db_password }}
    volumes:
      - monica_mysql:/var/lib/mysql
    restart: always

volumes:
  monica_data:
    name: monica_data
  monica_mysql:
    name: monica_mysql
