# https://www.nginx.com/blog/rate-limiting-nginx/
limit_req_zone $binary_remote_addr zone=monica:10m rate=20r/s;

upstream monica {
    server 127.0.0.1:{{ monica_port }};
}

server {
    server_name    {{ monica_domain }} ;
    listen 80;

    location / {
        limit_req zone=monica burst=20 nodelay;
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_pass http://monica;
    }
}
