#!/bin/bash

export AWS_ACCESS_KEY_ID={{ duplicity_aws_access_key_id }}
export AWS_SECRET_ACCESS_KEY={{ duplicity_aws_secret_access_key }}
export GPG_KEY={{ duplicity_gpg_key }}
export PASSPHRASE='{{ duplicity_gpg_passphrase }}'

cp -arv /var/lib/docker/volumes/monica_data {{ duplicity_backups_location }}/monica_data
cp -arv /var/lib/docker/volumes/monica_mysql {{ duplicity_backups_location }}/monica_mysql

duplicity \
    --verbosity info \
    --gpg-binary /usr/bin/gpg2 \
    --encrypt-sign-key="$GPG_KEY" \
    --log-file {{ duplicity_backups_location }}/info.log \
    {{ duplicity_backups_location.path }} \
    {{ duplicity_remote_backup_uri }}

unset AWS_ACCESS_KEY_ID
unset AWS_SECRET_ACCESS_KEY
unset GPG_KEY
unset PASSPHRASE

